* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
  color: white;
}
h2 {
  padding: 5px 0 10px 0 ;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #121212;
}

.container {
  background-color: #FFFFFF10;
  width: 20rem;
  height: 15rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.boxes {
  display: flex;
}
.progress-container {
  height: 0.8rem;
  width: 90%;
  border-radius: 0.4rem;
  margin: 0 0 10px 0;

  background: #f5f5f5;
}

.progress-container .progress {
  height: 100%;
  width: 0;
  border-radius: 0.4rem;

  background: #ff4754;

  transition: width 0.4s ease;
}

input {
  width: 90%;
  padding: 3px;
  background-color:white;
  border-radius: 5px;
}

button {
  margin-top: 1rem;
  width: 5rem;
  padding: 0.25rem;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF40;
  color: white;
}

.button_container {
  display: flex;
}